<div class="row" >
    <div class="col-sm-8">
            <!-- <ng-template appCustom></ng-template> -->
    </div>
    <div class="col-sm-4" >
        <table data-toggle="table" class="table table-bordered table-hover table-condensed table-striped">
            <thead>
            <tr>
                <th>Drag items from the list</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>Header</td></tr>
            <tr><td>Table</td></tr>
            <tr><td>Footer</td></tr>
            <tr> <td>Time</td></tr>
            <tr><td>Dropdown</td></tr>
            <tr> <td> Spinner</td></tr>
            <tr> <td> Button</td></tr>
            <tr>  <td> Divider</td></tr>
            <tr> <td> Mask</td></tr>

            </tbody>
        </table>
    </div>
</div>
  
      
  